*{
    padding:0;
    margin:0;
}

body {
  background: #fff;
  padding: 25px;
}

header .navbar-top-links li {
    display: inline-block;
    padding-right:10px;
}

.row {
  padding-bottom: 50px;
  margin:0;
  margin:0;
}

.full-height {
  height: 80vh;
}

#markdown {
  font-family: monospace;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  -webkit-box-shadow: 5px 5px 10px #ccc;
  -moz-box-shadow: 5px 5px 10px #ccc;
  box-shadow: 5px 5px 10px #ccc;
  padding: 25px 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#htmlArea {
  background: #fff;
  overflow: auto;
  -webkit-box-shadow: 5px 5px 10px #ccc;
  -moz-box-shadow: 5px 5px 10px #ccc;
  box-shadow: 5px 5px 10px #ccc;
  padding: 1px 25px;
  margin-top: 25px;
  margin-bottom: 25px; }

.markdown-write {
    float: left;
    width: 48%;
}

.markdown-previewer {
    float:left;
    width:48%;
    margin-left:3%;
}

footer {
  color: #fff; }
